body
{
  background-color: rgb(255, 174, 0);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
label{
  font-family: 'Fredoka One', cursive;
  color: rgba(229, 255, 0, 0.63);
}
h1{
  font-family: 'Flavors', cursive;
  color: rgb(12, 90, 155);
  font-size: 50px;
}
p{
  font-family: 'Lobster Two', cursive;
  color: rgb(133, 206, 115);
}